<header>
  <nav class="navbar navbar-expand-lg custom-bg">
    <div class="container">
      <a class="navbar-brand custom-title" href="#">Título del Bar</a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link custom-link" href="#">Opción 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-link" href="#">Opción 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-link" href="#">Opción 3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link custom-link" href="#">Opción 4</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
